In [1]:
import pandas as pd

In [7]:
meanpop= pd.read_csv('popmean.csv')
meanpop.tail(100)

,Series Name,Series Code,Country Name,Country Code,2015 [YR2015]
107,"Population, total",SP.POP.TOTL,Japan,JPN,127141000
108,"Population, total",SP.POP.TOTL,Jamaica,JAM,2871934
109,"Population, total",SP.POP.TOTL,Italy,ITA,60730582
110,"Population, total",SP.POP.TOTL,Israel,ISR,8380100
111,"Population, total",SP.POP.TOTL,Isle of Man,IMN,83167
112,"Population, total",SP.POP.TOTL,Ireland,IRL,4701957
113,"Population, total",SP.POP.TOTL,Iraq,IRQ,36115649
114,"Population, total",SP.POP.TOTL,"Iran, Islamic Rep.",IRN,79360487
115,"Population, total",SP.POP.TOTL,Indonesia,IDN,258162113
116,"Population, total",SP.POP.TOTL,India,IND,1309053980
117,"Population, total",SP.POP.TOTL,Iceland,ISL,330815
118,"Population, total",SP.POP.TOTL,Hungary,HUN,9843028
119,"Population, total",SP.POP.TOTL,"Hong Kong SAR, China",HKG,7291300
120,"Population, total",SP.POP.TOTL,Honduras,HND,8960829
121,"Population, total",SP.POP.TOTL,Haiti,HTI,10711061
122,"Population, total",SP.POP.TOTL,Guyana,GUY,768514
123,"Population, total",SP.POP.TOTL,Guinea-Bissau,GNB,1770526
124,"Population, total",SP.POP.TOTL,Guinea,GIN,12091533
125,"Population, total",SP.POP.TOTL,Guatemala,GTM,16252429
126,"Population, total",SP.POP.TOTL,Guam,GUM,161797
127,"Population, total",SP.POP.TOTL,Grenada,GRD,106823
128,"Population, total",SP.POP.TOTL,Greenland,GRL,56114
129,"Population, total",SP.POP.TOTL,Greece,GRC,10820883
130,"Population, total",SP.POP.TOTL,Gibraltar,GIB,34228
131,"Population, total",SP.POP.TOTL,Ghana,GHA,27582821
132,"Population, total",SP.POP.TOTL,Germany,DEU,81686611
133,"Population, total",SP.POP.TOTL,Georgia,GEO,3717100
134,"Population, total",SP.POP.TOTL,Gabon,GAB,1930175
135,"Population, total",SP.POP.TOTL,French Polynesia,PYF,277690
136,"Population, total",SP.POP.TOTL,France,FRA,66593366
...,...,...,...,...,...
177,"Population, total",SP.POP.TOTL,Botswana,BWA,2209197
178,"Population, total",SP.POP.TOTL,Bosnia and Herzegovina,BIH,3535961
179,"Population, total",SP.POP.TOTL,Bolivia,BOL,10724705
180,"Population, total",SP.POP.TOTL,Bhutan,BTN,787386
181,"Population, total",SP.POP.TOTL,Bermuda,BMU,65239
182,"Population, total",SP.POP.TOTL,Benin,BEN,10575952
183,"Population, total",SP.POP.TOTL,Belize,BLZ,359288
184,"Population, total",SP.POP.TOTL,Belgium,BEL,11274196
185,"Population, total",SP.POP.TOTL,Belarus,BLR,9489616
186,"Population, total",SP.POP.TOTL,Barbados,BRB,284217
187,"Population, total",SP.POP.TOTL,Bangladesh,BGD,161200886
188,"Population, total",SP.POP.TOTL,Bahrain,BHR,1371855
189,"Population, total",SP.POP.TOTL,Azerbaijan,AZE,9649341
190,"Population, total",SP.POP.TOTL,Austria,AUT,8642699
191,"Population, total",SP.POP.TOTL,Australia,AUS,23850784
192,"Population, total",SP.POP.TOTL,Aruba,ABW,104341
193,"Population, total",SP.POP.TOTL,Armenia,ARM,2916950
194,"Population, total",SP.POP.TOTL,Argentina,ARG,43417765
195,"Population, total",SP.POP.TOTL,Angola,AGO,27859305
196,"Population, total",SP.POP.TOTL,Algeria,DZA,39871528
197,"Population, total",SP.POP.TOTL,Albania,ALB,2880703
198,"Population, total",SP.POP.TOTL,Afghanistan,AFG,33736494
199,"Population, total",SP.POP.TOTL,"Gambia, The",GMB,1977590
200,"Population, total",SP.POP.TOTL,Lesotho,LSO,2174645
201,"Population, total",SP.POP.TOTL,South Sudan,SSD,11882136
202,NaN,NaN,NaN,NaN,NaN
203,NaN,NaN,NaN,NaN,NaN
204,NaN,NaN,NaN,NaN,NaN
205,Data from database: Gender Statistics,NaN,NaN,NaN,NaN
206,Last Updated: 10/22/2018,NaN,NaN,NaN,NaN

In [5]:
len(meanpop)

207