In [1]:
# from bs4 import BeautifulSoup
# import requests

In [2]:
# alc_request = requests.get('https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1310061801&pickMembers%5B0%5D=2.5&pickMembers%5B1%5D=3.3&pickMembers%5B2%5D=5.1')
# alc_html = alc_request.text
# alc_soup = BeautifulSoup(alc_html)

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('popmean.csv')
df.iloc[:, 2:]

                 Country Name Country Code 2015 [YR2015]
0                    Zimbabwe          ZWE      15777451
1                      Zambia          ZMB      16100587
2                 Yemen, Rep.          YEM      26916207
3                     Vietnam          VNM      93571567
4               Venezuela, RB          VEN      31155134
5                     Vanuatu          VUT        264603
6                  Uzbekistan          UZB      31298900
7                     Uruguay          URY       3431552
8               United States          USA     321039839
9              United Kingdom          GBR      65128861
10       United Arab Emirates          ARE       9154302
11                    Ukraine          UKR      45154029
12                     Uganda          UGA      40144870
13                     Tuvalu          TUV         11001
14   Turks and Caicos Islands          TCA         34339
15               Turkmenistan          TKM       5565284
16                     Turkey          TUR      78271472
17                    Tunisia          TUN      11273661
18        Trinidad and Tobago          TTO       1360092
19                      Tonga          TON        106364
20                       Togo          TGO       7416802
21                Timor-Leste          TLS       1240977
22                   Thailand          THA      68657600
23                   Tanzania          TZA      53879957
24                 Tajikistan          TJK       8548651
25       Syrian Arab Republic          SYR      18734987
26                Switzerland          CHE       8282396
27                     Sweden          SWE       9799186
28                   Eswatini          SWZ       1319011
29                   Suriname          SUR        553208
..                        ...          ...           ...
177                  Botswana          BWA       2209197
178    Bosnia and Herzegovina          BIH       3535961
179                   Bolivia          BOL      10724705
180                    Bhutan          BTN        787386
181                   Bermuda          BMU         65239
182                     Benin          BEN      10575952
183                    Belize          BLZ        359288
184                   Belgium          BEL      11274196
185                   Belarus          BLR       9489616
186                  Barbados          BRB        284217
187                Bangladesh          BGD     161200886
188                   Bahrain          BHR       1371855
189                Azerbaijan          AZE       9649341
190                   Austria          AUT       8642699
191                 Australia          AUS      23850784
192                     Aruba          ABW        104341
193                   Armenia          ARM       2916950
194                 Argentina          ARG      43417765
195                    Angola          AGO      27859305
196                   Algeria          DZA      39871528
197                   Albania          ALB       2880703
198               Afghanistan          AFG      33736494
199               Gambia, The          GMB       1977590
200                   Lesotho          LSO       2174645
201               South Sudan          SSD      11882136
202                       NaN          NaN           NaN
203                       NaN          NaN           NaN
204                       NaN          NaN           NaN
205                       NaN          NaN           NaN
206                       NaN          NaN           NaN

[207 rows x 3 columns]

In [5]:
# df[['Country Name','2015 [YR2015]']]

df = df.rename(columns={'Country Name': 'Country', '2015 [YR2015]': 'Population'})

In [6]:
pop = df[['Country', 'Population']]

In [7]:
fr_df = pd.read_csv('fertility_rate.csv')
fr_df = fr_df.rename(columns = {'2015 [YR2015]': 'Fertility Rate'})

fr = fr_df[['Country Name', 'Fertility Rate']]

pop

                      Country Population
0                    Zimbabwe   15777451
1                      Zambia   16100587
2                 Yemen, Rep.   26916207
3                     Vietnam   93571567
4               Venezuela, RB   31155134
5                     Vanuatu     264603
6                  Uzbekistan   31298900
7                     Uruguay    3431552
8               United States  321039839
9              United Kingdom   65128861
10       United Arab Emirates    9154302
11                    Ukraine   45154029
12                     Uganda   40144870
13                     Tuvalu      11001
14   Turks and Caicos Islands      34339
15               Turkmenistan    5565284
16                     Turkey   78271472
17                    Tunisia   11273661
18        Trinidad and Tobago    1360092
19                      Tonga     106364
20                       Togo    7416802
21                Timor-Leste    1240977
22                   Thailand   68657600
23                   Tanzania   53879957
24                 Tajikistan    8548651
25       Syrian Arab Republic   18734987
26                Switzerland    8282396
27                     Sweden    9799186
28                   Eswatini    1319011
29                   Suriname     553208
..                        ...        ...
177                  Botswana    2209197
178    Bosnia and Herzegovina    3535961
179                   Bolivia   10724705
180                    Bhutan     787386
181                   Bermuda      65239
182                     Benin   10575952
183                    Belize     359288
184                   Belgium   11274196
185                   Belarus    9489616
186                  Barbados     284217
187                Bangladesh  161200886
188                   Bahrain    1371855
189                Azerbaijan    9649341
190                   Austria    8642699
191                 Australia   23850784
192                     Aruba     104341
193                   Armenia    2916950
194                 Argentina   43417765
195                    Angola   27859305
196                   Algeria   39871528
197                   Albania    2880703
198               Afghanistan   33736494
199               Gambia, The    1977590
200                   Lesotho    2174645
201               South Sudan   11882136
202                       NaN        NaN
203                       NaN        NaN
204                       NaN        NaN
205                       NaN        NaN
206                       NaN        NaN

[207 rows x 2 columns]

In [8]:
fr

                 Country Name  Fertility Rate
0                 Afghanistan             4.8
1                     Albania             1.7
2                     Algeria             2.8
3              American Samoa             NaN
4                     Andorra             NaN
5                      Angola             5.8
6         Antigua and Barbuda             2.1
7                  Arab World             3.4
8                   Argentina             2.3
9                     Armenia             1.6
10                      Aruba             1.8
11                  Australia             1.8
12                    Austria             1.5
13                 Azerbaijan             1.9
14               Bahamas, The             1.8
15                    Bahrain             2.1
16                 Bangladesh             2.1
17                   Barbados             1.8
18                    Belarus             1.7
19                    Belgium             1.7
20                     Belize             2.5
21                      Benin             5.0
22                    Bermuda             1.6
23                     Bhutan             2.1
24                    Bolivia             2.9
25     Bosnia and Herzegovina             1.3
26                   Botswana             2.8
27                     Brazil             1.7
28     British Virgin Islands             NaN
29          Brunei Darussalam             1.9
..                        ...             ...
238                      Togo             4.5
239                     Tonga             3.7
240       Trinidad and Tobago             1.8
241                   Tunisia             2.2
242                    Turkey             2.1
243              Turkmenistan             2.9
244  Turks and Caicos Islands             NaN
245                    Tuvalu             NaN
246                    Uganda             5.7
247                   Ukraine             1.5
248      United Arab Emirates             1.8
249            United Kingdom             1.8
250             United States             1.8
251       Upper middle income             1.8
252                   Uruguay             2.0
253                Uzbekistan             2.5
254                   Vanuatu             3.3
255             Venezuela, RB             2.3
256                   Vietnam             2.0
257     Virgin Islands (U.S.)             2.1
258        West Bank and Gaza             4.1
259                     World             2.5
260               Yemen, Rep.             4.1
261                    Zambia             5.0
262                  Zimbabwe             3.8
263                       NaN             NaN
264                       NaN             NaN
265                       NaN             NaN
266                       NaN             NaN
267                       NaN             NaN

[268 rows x 2 columns]

In [9]:
pop = pd.read_csv('popmean.csv')

In [10]:
pop=pop.iloc[:, 2:]

In [11]:
pop= pop.drop(columns= 'Country Code')

In [12]:
pop

                 Country Name 2015 [YR2015]
0                    Zimbabwe      15777451
1                      Zambia      16100587
2                 Yemen, Rep.      26916207
3                     Vietnam      93571567
4               Venezuela, RB      31155134
5                     Vanuatu        264603
6                  Uzbekistan      31298900
7                     Uruguay       3431552
8               United States     321039839
9              United Kingdom      65128861
10       United Arab Emirates       9154302
11                    Ukraine      45154029
12                     Uganda      40144870
13                     Tuvalu         11001
14   Turks and Caicos Islands         34339
15               Turkmenistan       5565284
16                     Turkey      78271472
17                    Tunisia      11273661
18        Trinidad and Tobago       1360092
19                      Tonga        106364
20                       Togo       7416802
21                Timor-Leste       1240977
22                   Thailand      68657600
23                   Tanzania      53879957
24                 Tajikistan       8548651
25       Syrian Arab Republic      18734987
26                Switzerland       8282396
27                     Sweden       9799186
28                   Eswatini       1319011
29                   Suriname        553208
..                        ...           ...
177                  Botswana       2209197
178    Bosnia and Herzegovina       3535961
179                   Bolivia      10724705
180                    Bhutan        787386
181                   Bermuda         65239
182                     Benin      10575952
183                    Belize        359288
184                   Belgium      11274196
185                   Belarus       9489616
186                  Barbados        284217
187                Bangladesh     161200886
188                   Bahrain       1371855
189                Azerbaijan       9649341
190                   Austria       8642699
191                 Australia      23850784
192                     Aruba        104341
193                   Armenia       2916950
194                 Argentina      43417765
195                    Angola      27859305
196                   Algeria      39871528
197                   Albania       2880703
198               Afghanistan      33736494
199               Gambia, The       1977590
200                   Lesotho       2174645
201               South Sudan      11882136
202                       NaN           NaN
203                       NaN           NaN
204                       NaN           NaN
205                       NaN           NaN
206                       NaN           NaN

[207 rows x 2 columns]

In [13]:
pop= pop.sort_values(['Country Name'], axis=0, ascending=True)

In [14]:
gdp= pd.read_csv('countrygdp.csv')
gdp

,Series Name,Series Code,Country Name,Country Code,2015 [YR2015]
0,GDP per capita (current US$),NY.GDP.PCAP.CD,Afghanistan,AFG,569.5779229167
1,GDP per capita (current US$),NY.GDP.PCAP.CD,Albania,ALB,3952.83078116586
2,GDP per capita (current US$),NY.GDP.PCAP.CD,Algeria,DZA,4160.22006671831
3,GDP per capita (current US$),NY.GDP.PCAP.CD,American Samoa,ASM,11865.9632317194
4,GDP per capita (current US$),NY.GDP.PCAP.CD,Andorra,AND,36038.2676044596
5,GDP per capita (current US$),NY.GDP.PCAP.CD,Angola,AGO,3683.5526074127
6,GDP per capita (current US$),NY.GDP.PCAP.CD,Antigua and Barbuda,ATG,13659.1479142644
7,GDP per capita (current US$),NY.GDP.PCAP.CD,Argentina,ARG,13698.2934384857
8,GDP per capita (current US$),NY.GDP.PCAP.CD,Armenia,ARM,3617.93574555176
9,GDP per capita (current US$),NY.GDP.PCAP.CD,Aruba,ABW,..
10,GDP per capita (current US$),NY.GDP.PCAP.CD,Australia,AUS,56561.4123818054
11,GDP per capita (current US$),NY.GDP.PCAP.CD,Austria,AUT,44206.7842820834
12,GDP per capita (current US$),NY.GDP.PCAP.CD,Azerbaijan,AZE,5500.31038244408
13,GDP per capita (current US$),NY.GDP.PCAP.CD,"Bahamas, The",BHS,30483.8201004038
14,GDP per capita (current US$),NY.GDP.PCAP.CD,Bahrain,BHR,22688.8782442968
15,GDP per capita (current US$),NY.GDP.PCAP.CD,Bangladesh,BGD,1210.15876939761
16,GDP per capita (current US$),NY.GDP.PCAP.CD,Barbados,BRB,16129.0492827663
17,GDP per capita (current US$),NY.GDP.PCAP.CD,Belarus,BLR,5949.10630699748
18,GDP per capita (current US$),NY.GDP.PCAP.CD,Belgium,BEL,40361.1541907535
19,GDP per capita (current US$),NY.GDP.PCAP.CD,Belize,BLZ,4950.25606198927
20,GDP per capita (current US$),NY.GDP.PCAP.CD,Benin,BEN,783.963077800944
21,GDP per capita (current US$),NY.GDP.PCAP.CD,Bermuda,BMU,..
22,GDP per capita (current US$),NY.GDP.PCAP.CD,Bhutan,BTN,2615.31022007844
23,GDP per capita (current US$),NY.GDP.PCAP.CD,Bolivia,BOL,3077.02619917158
24,GDP per capita (current US$),NY.GDP.PCAP.CD,Bosnia and Herzegovina,BIH,4584.24254781755
25,GDP per capita (current US$),NY.GDP.PCAP.CD,Botswana,BWA,6527.50816086673
26,GDP per capita (current US$),NY.GDP.PCAP.CD,Brazil,BRA,8750.22299607324
27,GDP per capita (current US$),NY.GDP.PCAP.CD,British Virgin Islands,VGB,..
28,GDP per capita (current US$),NY.GDP.PCAP.CD,Brunei Darussalam,BRN,30967.890506377
29,GDP per capita (current US$),NY.GDP.PCAP.CD,Bulgaria,BGR,6993.47554370696
...,...,...,...,...,...
239,GDP per capita (current US$),NY.GDP.PCAP.CD,Latin America & Caribbean (excluding high income),LAC,7866.21930402076
240,GDP per capita (current US$),NY.GDP.PCAP.CD,Latin America & the Caribbean (IDA & IBRD coun...,TLA,8583.71747756657
241,GDP per capita (current US$),NY.GDP.PCAP.CD,Least developed countries: UN classification,LDC,970.423910856363
242,GDP per capita (current US$),NY.GDP.PCAP.CD,Low & middle income,LMY,4333.70502795329
243,GDP per capita (current US$),NY.GDP.PCAP.CD,Low income,LIC,761.645110283475
244,GDP per capita (current US$),NY.GDP.PCAP.CD,Lower middle income,LMC,2003.50180026326
245,GDP per capita (current US$),NY.GDP.PCAP.CD,Middle East & North Africa,MEA,7323.03108336219
246,GDP per capita (current US$),NY.GDP.PCAP.CD,Middle East & North Africa (excluding high inc...,MNA,3905.95829078681
247,GDP per capita (current US$),NY.GDP.PCAP.CD,Middle East & North Africa (IDA & IBRD countries),TMN,3918.24563133813
248,GDP per capita (current US$),NY.GDP.PCAP.CD,Middle income,MIC,4792.11849230798
249,GDP per capita (current US$),NY.GDP.PCAP.CD,North America,NAC,55153.2152676874
250,GDP per capita (current US$),NY.GDP.PCAP.CD,Not classified,INX,..
251,GDP per capita (current US$),NY.GDP.PCAP.CD,OECD members,OED,36394.7858618146
252,GDP per capita (current US$),NY.GDP.PCAP.CD,Other small states,OSS,12676.9267311678
253,GDP per capita (current US$),NY.GDP.PCAP.CD,Pacific island small states,PSS,3640.27133730497
254,GDP per capita (current US$),NY.GDP.PCAP.CD,Post-demographic dividend,PST,40337.9155287767
255,GDP per capita (current US$),NY.GDP.PCAP.CD,Pre-demographic dividend,PRE,1528.43041880008
256,GDP per capita (current US$),NY.GDP.PCAP.CD,Small states,SST,11605.696008222
257,GDP per capita (current US$),NY.GDP.PCAP.CD,South Asia,SAS,1545.27731257625
258,GDP per capita (current US$),NY.GDP.PCAP.CD,South Asia (IDA & IBRD),TSA,1545.27731257625
259,GDP per capita (current US$),NY.GDP.PCAP.CD,Sub-Saharan Africa,SSF,1600.6968840215
260,GDP per capita (current US$),NY.GDP.PCAP.CD,Sub-Saharan Africa (excluding high income),SSA,1599.47779012089
261,GDP per capita (current US$),NY.GDP.PCAP.CD,Sub-Saharan Africa (IDA & IBRD countries),TSS,1600.6968840215
262,GDP per capita (current US$),NY.GDP.PCAP.CD,Upper middle income,UMC,7965.02810365635
263,GDP per capita (current US$),NY.GDP.PCAP.CD,World,WLD,10172.2228166826
264,NaN,NaN,NaN,NaN,NaN
265,NaN,NaN,NaN,NaN,NaN
266,NaN,NaN,NaN,NaN,NaN
267,Data from database: World Development Indicators,NaN,NaN,NaN,NaN
268,Last Updated: 11/14/2018,NaN,NaN,NaN,NaN

In [15]:
gdp= gdp.iloc[:, 2:]

In [16]:
gdp= gdp.drop(columns= 'Country Code')

In [17]:
gdp

                                          Country Name     2015 [YR2015]
0                                          Afghanistan    569.5779229167
1                                              Albania  3952.83078116586
2                                              Algeria  4160.22006671831
3                                       American Samoa  11865.9632317194
4                                              Andorra  36038.2676044596
5                                               Angola   3683.5526074127
6                                  Antigua and Barbuda  13659.1479142644
7                                            Argentina  13698.2934384857
8                                              Armenia  3617.93574555176
9                                                Aruba                ..
10                                           Australia  56561.4123818054
11                                             Austria  44206.7842820834
12                                          Azerbaijan  5500.31038244408
13                                        Bahamas, The  30483.8201004038
14                                             Bahrain  22688.8782442968
15                                          Bangladesh  1210.15876939761
16                                            Barbados  16129.0492827663
17                                             Belarus  5949.10630699748
18                                             Belgium  40361.1541907535
19                                              Belize  4950.25606198927
20                                               Benin  783.963077800944
21                                             Bermuda                ..
22                                              Bhutan  2615.31022007844
23                                             Bolivia  3077.02619917158
24                              Bosnia and Herzegovina  4584.24254781755
25                                            Botswana  6527.50816086673
26                                              Brazil  8750.22299607324
27                              British Virgin Islands                ..
28                                   Brunei Darussalam   30967.890506377
29                                            Bulgaria  6993.47554370696
..                                                 ...               ...
239  Latin America & Caribbean (excluding high income)  7866.21930402076
240  Latin America & the Caribbean (IDA & IBRD coun...  8583.71747756657
241       Least developed countries: UN classification  970.423910856363
242                                Low & middle income  4333.70502795329
243                                         Low income  761.645110283475
244                                Lower middle income  2003.50180026326
245                         Middle East & North Africa  7323.03108336219
246  Middle East & North Africa (excluding high inc...  3905.95829078681
247  Middle East & North Africa (IDA & IBRD countries)  3918.24563133813
248                                      Middle income  4792.11849230798
249                                      North America  55153.2152676874
250                                     Not classified                ..
251                                       OECD members  36394.7858618146
252                                 Other small states  12676.9267311678
253                        Pacific island small states  3640.27133730497
254                          Post-demographic dividend  40337.9155287767
255                           Pre-demographic dividend  1528.43041880008
256                                       Small states   11605.696008222
257                                         South Asia  1545.27731257625
258                            South Asia (IDA & IBRD)  1545.27731257625
259                                 Sub-Saharan Africa   1600.6968840215
260         Sub-Saharan Africa (excluding high income)  1599.47779012089
261          Sub-Saharan Africa (IDA & IBRD countries)   1600.6968840215
262                                Upper middle income  7965.02810365635
263                                              World  10172.2228166826
264                                                NaN               NaN
265                                                NaN               NaN
266                                                NaN               NaN
267                                                NaN               NaN
268                                                NaN               NaN

[269 rows x 2 columns]

In [18]:
pop = pop.set_index('Country Name')
pop = pop.drop("Korea, Dem. People's Rep.", axis=0)

In [19]:
pop = pop.drop("East Asia & Pacific (IDA & IBRD)", axis=0)

In [20]:
pop= pop.reset_index()

In [21]:
countries_pop = pop['Country Name'].tolist()

In [22]:
all_gdp_countries = gdp['Country Name'].tolist()
filtered_gdp = []

all_gdp_countries

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong SAR, China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, Dem. People’s Rep.',
 'Korea, Rep.',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macao SAR, China',
 'Macedonia, FYR',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, RB',
 'Vietnam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe',
 'Arab World',
 'Caribbean small states',
 'Central Europe and the Baltics',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (excluding high income)',
 'East Asia & Pacific (IDA & IBRD countries)',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (excluding high income)',
 'Europe & Central Asia (IDA & IBRD countries)',
 'European Union',
 'Fragile and conflict affected situations',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Least developed countries: UN classification',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Middle East & North Africa',
 'Middle East & North Africa (excluding high income)',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle income',
 'North America',
 'Not classified',
 'OECD members',
 'Other small states',
 'Pacific island small states',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Small states',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (excluding high income)',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Upper middle income',
 'World',
 nan,
 nan,
 nan,
 nan,
 nan]

In [23]:
# gdp_indexes = []
# for country in countries_pop:
#     try:
#         index = all_gdp_countries.index(country)
#         gdp_indexes.append(index)
#     except:
#         print(country)
# #         print(gdp['Country Name'])

# len(pop)

In [24]:
# pop = pop.set_index('Country Name')
# pop = pop.drop("Korea, Dem. People's Rep.", axis=0)

In [25]:
# pop = pop.set_index('Country Name')
# pop = pop.drop("East Asia & Pacific (IDA & IBRD)", axis=0)

In [26]:
len(pop)

205

In [27]:
pop= pop.reset_index()

In [28]:
pop

     index              Country Name 2015 [YR2015]
0        0               Afghanistan      33736494
1        1                   Albania       2880703
2        2                   Algeria      39871528
3        3                    Angola      27859305
4        4                 Argentina      43417765
5        5                   Armenia       2916950
6        6                     Aruba        104341
7        7                 Australia      23850784
8        8                   Austria       8642699
9        9                Azerbaijan       9649341
10      10                   Bahrain       1371855
11      11                Bangladesh     161200886
12      12                  Barbados        284217
13      13                   Belarus       9489616
14      14                   Belgium      11274196
15      15                    Belize        359288
16      16                     Benin      10575952
17      17                   Bermuda         65239
18      18                    Bhutan        787386
19      19                   Bolivia      10724705
20      20    Bosnia and Herzegovina       3535961
21      21                  Botswana       2209197
22      22                    Brazil     205962108
23      23         Brunei Darussalam        417542
24      24                  Bulgaria       7177991
25      25              Burkina Faso      18110624
26      26                   Burundi      10199270
27      27                Cabo Verde        532913
28      28                  Cambodia      15517635
29      29                  Cameroon      22834522
..     ...                       ...           ...
175    175                Tajikistan       8548651
176    176                  Tanzania      53879957
177    177                  Thailand      68657600
178    178               Timor-Leste       1240977
179    179                      Togo       7416802
180    180                     Tonga        106364
181    181       Trinidad and Tobago       1360092
182    182                   Tunisia      11273661
183    183                    Turkey      78271472
184    184              Turkmenistan       5565284
185    185  Turks and Caicos Islands         34339
186    186                    Tuvalu         11001
187    187                    Uganda      40144870
188    188                   Ukraine      45154029
189    189      United Arab Emirates       9154302
190    190            United Kingdom      65128861
191    191             United States     321039839
192    192                   Uruguay       3431552
193    193                Uzbekistan      31298900
194    194                   Vanuatu        264603
195    195             Venezuela, RB      31155134
196    196                   Vietnam      93571567
197    197               Yemen, Rep.      26916207
198    198                    Zambia      16100587
199    199                  Zimbabwe      15777451
200    200                       NaN           NaN
201    201                       NaN           NaN
202    202                       NaN           NaN
203    203                       NaN           NaN
204    204                       NaN           NaN

[205 rows x 3 columns]

In [29]:
gdp_vals = []
for country in countries_pop:
    try:
        index = all_gdp_countries.index(country)
        gdp_vals.append(gdp.loc[index, '2015 [YR2015]'])
        
    except:
        print(country)
#         print(gdp['Country Name'])

gdp_vals

['569.5779229167',
 '3952.83078116586',
 '4160.22006671831',
 '3683.5526074127',
 '13698.2934384857',
 '3617.93574555176',
 '..',
 '56561.4123818054',
 '44206.7842820834',
 '5500.31038244408',
 '22688.8782442968',
 '1210.15876939761',
 '16129.0492827663',
 '5949.10630699748',
 '40361.1541907535',
 '4950.25606198927',
 '783.963077800944',
 '..',
 '2615.31022007844',
 '3077.02619917158',
 '4584.24254781755',
 '6527.50816086673',
 '8750.22299607324',
 '30967.890506377',
 '6993.47554370696',
 '575.314454176312',
 '300.676556925263',
 '2995.15055267969',
 '1163.18977018231',
 '1353.92448961447',
 '43525.3701865304',
 '..',
 '348.381427149795',
 '12456.4265235151',
 '784.172307238762',
 '..',
 '13736.6356879313',
 '8069.21302389511',
 '6044.52555566556',
 '727.646386827046',
 '1712.12114632566',
 '11393.0239509727',
 '1434.32661467505',
 '11757.8900417938',
 '7602.26121831897',
 '..',
 '23212.2247018375',
 '17715.6168523009',
 '53012.9965835008',
 '1761.6101575859',
 '7313.84942800705',
 '6534.90855499375',
 '6150.15595531519',
 '3669.87899205352',
 '..',
 '17155.8741759995',
 '3047.94675558222',
 '645.465006707765',
 '32207.3850954362',
 '50581.9684915586',
 '4889.46145369562',
 '42424.2208075022',
 '36613.3752159613',
 '..',
 '7448.74935464556',
 '458.970591237736',
 '3764.64091159037',
 '41323.921502169',
 '1353.68426033735',
 '..',
 '18070.7767788584',
 '44912.2660945027',
 '9333.2702313727',
 '35210.7888279758',
 '3923.57334364713',
 '732.561347319453',
 '591.806149672952',
 '4119.67648694763',
 '814.546395216916',
 '2341.27532008595',
 '42431.8882817277',
 '12483.8659406349',
 '51213.6613332843',
 '1606.0382849889',
 '3334.54907484848',
 '4862.29972856127',
 '4974.0269301667',
 '61807.6703737555',
 '81672.0227049126',
 '35690.9630779526',
 '30180.3215146877',
 '4939.83728131233',
 '34567.7456750995',
 '4096.09927499826',
 '10510.7718884148',
 '1355.04578833975',
 '1504.71554652944',
 '27105.076226264',
 '3574.17402997973',
 '29109.0687433547',
 '1121.08283510739',
 '8452.44364087841',
 '1152.31679631028',
 '452.038071650923',
 '4695.2730939977',
 '168146.015281103',
 '14289.1205692355',
 '101446.786303182',
 '402.088311769817',
 '362.657544352305',
 '9648.55345515912',
 '9575.77070044853',
 '749.950157148436',
 '23759.0283363881',
 '1158.25637052423',
 '9260.44730250635',
 '9290.76062857618',
 '1832.4990518988',
 '..',
 '3946.96207454865',
 '6514.27269528653',
 '2864.09291462974',
 '528.312559745128',
 '1138.99227090869',
 '4852.09226730267',
 '8052.88838546659',
 '747.160462355857',
 '44746.3340485236',
 '..',
 '38649.3784975761',
 '2073.49793802454',
 '364.443722751495',
 '2655.15797711367',
 '74498.13763927',
 '16406.7116182533',
 '1428.63762767431',
 '13767.5169109357',
 '13684.1308015698',
 '2605.94596916662',
 '4109.36772421106',
 '6053.11241492924',
 '2878.33837046989',
 '12566.4834429716',
 '19252.6349536042',
 '29697.1619931838',
 '66346.5226685873',
 '8978.38925434643',
 '9346.61636024231',
 '711.773977346877',
 '4149.41142948863',
 '47610.9850756554',
 '1613.48020706019',
 '20732.8617218565',
 '910.774777246034',
 '5237.25533423136',
 '14725.1017400575',
 '582.936203085803',
 '54940.8581377449',
 '16132.8603100425',
 '20873.1611094925',
 '1965.42203216771',
 '476.795737597013',
 '5746.68112702961',
 '917.921473873704',
 '25789.5195481476',
 '3842.16385988701',
 '16178.188891072',
 '9306.35886837708',
 '..',
 '6913.03884396936',
 '2513.88466117983',
 '8724.72389713678',
 '50812.1908597713',
 '82016.0213129432',
 '..',
 '918.677154325296',
 '872.295494924971',
 '5846.39460806913',
 '2501.59835400972',
 '551.150673157549',
 '4093.84958521364',
 '17941.8005923033',
 '3828.10063289426',
 '10984.8052020041',
 '6432.66876792426',
 '..',
 '3232.07334039174',
 '675.121141793718',
 '2124.66266591114',
 '39122.0497054272',
 '44305.5546320834',
 '56443.8172422582',
 '15524.8424684038',
 '2137.57685230278',
 '2788.77091878844',
 '..',
 '2065.16909895862',
 '1285.56301929087',
 '1313.88964550765',
 '1033.41584138021',
 nan,
 nan,
 nan,
 nan,
 nan]

In [30]:
pop['gdp'] = gdp_vals

In [31]:
pop

     index              Country Name 2015 [YR2015]               gdp
0        0               Afghanistan      33736494    569.5779229167
1        1                   Albania       2880703  3952.83078116586
2        2                   Algeria      39871528  4160.22006671831
3        3                    Angola      27859305   3683.5526074127
4        4                 Argentina      43417765  13698.2934384857
5        5                   Armenia       2916950  3617.93574555176
6        6                     Aruba        104341                ..
7        7                 Australia      23850784  56561.4123818054
8        8                   Austria       8642699  44206.7842820834
9        9                Azerbaijan       9649341  5500.31038244408
10      10                   Bahrain       1371855  22688.8782442968
11      11                Bangladesh     161200886  1210.15876939761
12      12                  Barbados        284217  16129.0492827663
13      13                   Belarus       9489616  5949.10630699748
14      14                   Belgium      11274196  40361.1541907535
15      15                    Belize        359288  4950.25606198927
16      16                     Benin      10575952  783.963077800944
17      17                   Bermuda         65239                ..
18      18                    Bhutan        787386  2615.31022007844
19      19                   Bolivia      10724705  3077.02619917158
20      20    Bosnia and Herzegovina       3535961  4584.24254781755
21      21                  Botswana       2209197  6527.50816086673
22      22                    Brazil     205962108  8750.22299607324
23      23         Brunei Darussalam        417542   30967.890506377
24      24                  Bulgaria       7177991  6993.47554370696
25      25              Burkina Faso      18110624  575.314454176312
26      26                   Burundi      10199270  300.676556925263
27      27                Cabo Verde        532913  2995.15055267969
28      28                  Cambodia      15517635  1163.18977018231
29      29                  Cameroon      22834522  1353.92448961447
..     ...                       ...           ...               ...
175    175                Tajikistan       8548651  918.677154325296
176    176                  Tanzania      53879957  872.295494924971
177    177                  Thailand      68657600  5846.39460806913
178    178               Timor-Leste       1240977  2501.59835400972
179    179                      Togo       7416802  551.150673157549
180    180                     Tonga        106364  4093.84958521364
181    181       Trinidad and Tobago       1360092  17941.8005923033
182    182                   Tunisia      11273661  3828.10063289426
183    183                    Turkey      78271472  10984.8052020041
184    184              Turkmenistan       5565284  6432.66876792426
185    185  Turks and Caicos Islands         34339                ..
186    186                    Tuvalu         11001  3232.07334039174
187    187                    Uganda      40144870  675.121141793718
188    188                   Ukraine      45154029  2124.66266591114
189    189      United Arab Emirates       9154302  39122.0497054272
190    190            United Kingdom      65128861  44305.5546320834
191    191             United States     321039839  56443.8172422582
192    192                   Uruguay       3431552  15524.8424684038
193    193                Uzbekistan      31298900  2137.57685230278
194    194                   Vanuatu        264603  2788.77091878844
195    195             Venezuela, RB      31155134                ..
196    196                   Vietnam      93571567  2065.16909895862
197    197               Yemen, Rep.      26916207  1285.56301929087
198    198                    Zambia      16100587  1313.88964550765
199    199                  Zimbabwe      15777451  1033.41584138021
200    200                       NaN           NaN               NaN
201    201                       NaN           NaN               NaN
202    202                       NaN           NaN               NaN
203    203                       NaN           NaN               NaN
204    204                       NaN           NaN               NaN

[205 rows x 4 columns]

In [32]:
mat_leave= pd.read_csv('matleave2.csv')
mat_leave

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN
2,Angola,AGO,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
3,Albania,ALB,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
4,Andorra,AND,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arab World,ARB,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,United Arab Emirates,ARE,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
7,Argentina,ARG,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
8,Armenia,ARM,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
9,American Samoa,ASM,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN
11,Australia,AUS,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
12,Austria,AUT,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
13,Azerbaijan,AZE,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
14,Burundi,BDI,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
15,Belgium,BEL,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
16,Benin,BEN,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
17,Burkina Faso,BFA,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
18,Bangladesh,BGD,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
19,Bulgaria,BGR,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
20,Bahrain,BHR,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN
21,"Bahamas, The",BHS,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN
22,Bosnia and Herzegovina,BIH,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
23,Belarus,BLR,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
24,Belize,BLZ,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN
25,Bermuda,BMU,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Bolivia,BOL,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
27,Brazil,BRA,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
28,Barbados,BRB,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN
29,Brunei Darussalam,BRN,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,Timor-Leste,TLS,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN
236,Middle East & North Africa (IDA & IBRD countries),TMN,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,Tonga,TON,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
238,South Asia (IDA & IBRD),TSA,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,Trinidad and Tobago,TTO,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN
241,Tunisia,TUN,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
242,Turkey,TUR,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
243,Tuvalu,TUV,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Tanzania,TZA,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
245,Uganda,UGA,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
246,Ukraine,UKR,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
247,Upper middle income,UMC,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,Uruguay,URY,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
249,United States,USA,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
250,Uzbekistan,UZB,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
251,St. Vincent and the Grenadines,VCT,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN
252,"Venezuela, RB",VEN,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
253,British Virgin Islands,VGB,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Virgin Islands (U.S.),VIR,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,Vietnam,VNM,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
256,Vanuatu,VUT,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN
257,World,WLD,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,Samoa,WSM,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN
259,Kosovo,XKX,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
260,"Yemen, Rep.",YEM,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
261,South Africa,ZAF,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
262,Zambia,ZMB,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN
263,Zimbabwe,ZWE,Law mandates paid or unpaid maternity leave (1...,SG.LAW.LEVE.PU,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN,1.0,NaN

In [33]:
maternity= mat_leave[['Country Name', '2015']]
maternity

                                          Country Name  2015
0                                                Aruba   NaN
1                                          Afghanistan   1.0
2                                               Angola   1.0
3                                              Albania   1.0
4                                              Andorra   NaN
5                                           Arab World   NaN
6                                 United Arab Emirates   1.0
7                                            Argentina   1.0
8                                              Armenia   1.0
9                                       American Samoa   NaN
10                                 Antigua and Barbuda   1.0
11                                           Australia   0.0
12                                             Austria   1.0
13                                          Azerbaijan   1.0
14                                             Burundi   1.0
15                                             Belgium   1.0
16                                               Benin   1.0
17                                        Burkina Faso   1.0
18                                          Bangladesh   1.0
19                                            Bulgaria   1.0
20                                             Bahrain   1.0
21                                        Bahamas, The   1.0
22                              Bosnia and Herzegovina   1.0
23                                             Belarus   1.0
24                                              Belize   1.0
25                                             Bermuda   NaN
26                                             Bolivia   1.0
27                                              Brazil   1.0
28                                            Barbados   1.0
29                                   Brunei Darussalam   1.0
..                                                 ...   ...
234  Latin America & the Caribbean (IDA & IBRD coun...   NaN
235                                        Timor-Leste   1.0
236  Middle East & North Africa (IDA & IBRD countries)   NaN
237                                              Tonga   0.0
238                            South Asia (IDA & IBRD)   NaN
239          Sub-Saharan Africa (IDA & IBRD countries)   NaN
240                                Trinidad and Tobago   1.0
241                                            Tunisia   1.0
242                                             Turkey   1.0
243                                             Tuvalu   NaN
244                                           Tanzania   1.0
245                                             Uganda   1.0
246                                            Ukraine   1.0
247                                Upper middle income   NaN
248                                            Uruguay   1.0
249                                      United States   0.0
250                                         Uzbekistan   1.0
251                     St. Vincent and the Grenadines   1.0
252                                      Venezuela, RB   1.0
253                             British Virgin Islands   NaN
254                              Virgin Islands (U.S.)   NaN
255                                            Vietnam   1.0
256                                            Vanuatu   1.0
257                                              World   NaN
258                                              Samoa   1.0
259                                             Kosovo   1.0
260                                        Yemen, Rep.   1.0
261                                       South Africa   1.0
262                                             Zambia   1.0
263                                           Zimbabwe   1.0

[264 rows x 2 columns]

In [34]:
all_maternity_countries = maternity['Country Name'].tolist()
maternity_vals = []
for country in countries_pop:
    try:
        index = all_maternity_countries.index(country)
        maternity_vals.append(maternity.loc[index, '2015'])
        
    except:
        print(country)
#         print(gdp['Country Name'])

len(maternity_vals)

nan
nan
nan
nan
nan

200

In [35]:
nan= [0, 0, 0, 0, 0]
mat_le = maternity_vals + nan
mat_le= list(mat_le)

In [36]:
len(mat_le)

205

In [37]:
pop['maternity_leaves']= mat_le

In [38]:
pop

,index,Country Name,2015 [YR2015],gdp,maternity_leaves
0,0,Afghanistan,33736494,569.5779229167,1.0
1,1,Albania,2880703,3952.83078116586,1.0
2,2,Algeria,39871528,4160.22006671831,1.0
3,3,Angola,27859305,3683.5526074127,1.0
4,4,Argentina,43417765,13698.2934384857,1.0
5,5,Armenia,2916950,3617.93574555176,1.0
6,6,Aruba,104341,..,NaN
7,7,Australia,23850784,56561.4123818054,0.0
8,8,Austria,8642699,44206.7842820834,1.0
9,9,Azerbaijan,9649341,5500.31038244408,1.0
10,10,Bahrain,1371855,22688.8782442968,1.0
11,11,Bangladesh,161200886,1210.15876939761,1.0
12,12,Barbados,284217,16129.0492827663,1.0
13,13,Belarus,9489616,5949.10630699748,1.0
14,14,Belgium,11274196,40361.1541907535,1.0
15,15,Belize,359288,4950.25606198927,1.0
16,16,Benin,10575952,783.963077800944,1.0
17,17,Bermuda,65239,..,NaN
18,18,Bhutan,787386,2615.31022007844,1.0
19,19,Bolivia,10724705,3077.02619917158,1.0
20,20,Bosnia and Herzegovina,3535961,4584.24254781755,1.0
21,21,Botswana,2209197,6527.50816086673,1.0
22,22,Brazil,205962108,8750.22299607324,1.0
23,23,Brunei Darussalam,417542,30967.890506377,1.0
24,24,Bulgaria,7177991,6993.47554370696,1.0
25,25,Burkina Faso,18110624,575.314454176312,1.0
26,26,Burundi,10199270,300.676556925263,1.0
27,27,Cabo Verde,532913,2995.15055267969,1.0
28,28,Cambodia,15517635,1163.18977018231,1.0
29,29,Cameroon,22834522,1353.92448961447,1.0
...,...,...,...,...,...
175,175,Tajikistan,8548651,918.677154325296,1.0
176,176,Tanzania,53879957,872.295494924971,1.0
177,177,Thailand,68657600,5846.39460806913,1.0
178,178,Timor-Leste,1240977,2501.59835400972,1.0
179,179,Togo,7416802,551.150673157549,1.0
180,180,Tonga,106364,4093.84958521364,0.0
181,181,Trinidad and Tobago,1360092,17941.8005923033,1.0
182,182,Tunisia,11273661,3828.10063289426,1.0
183,183,Turkey,78271472,10984.8052020041,1.0
184,184,Turkmenistan,5565284,6432.66876792426,NaN
185,185,Turks and Caicos Islands,34339,..,NaN
186,186,Tuvalu,11001,3232.07334039174,NaN
187,187,Uganda,40144870,675.121141793718,1.0
188,188,Ukraine,45154029,2124.66266591114,1.0
189,189,United Arab Emirates,9154302,39122.0497054272,1.0
190,190,United Kingdom,65128861,44305.5546320834,1.0
191,191,United States,321039839,56443.8172422582,0.0
192,192,Uruguay,3431552,15524.8424684038,1.0
193,193,Uzbekistan,31298900,2137.57685230278,1.0
194,194,Vanuatu,264603,2788.77091878844,1.0
195,195,"Venezuela, RB",31155134,..,1.0
196,196,Vietnam,93571567,2065.16909895862,1.0
197,197,"Yemen, Rep.",26916207,1285.56301929087,1.0
198,198,Zambia,16100587,1313.88964550765,1.0
199,199,Zimbabwe,15777451,1033.41584138021,1.0
200,200,NaN,NaN,NaN,0.0
201,201,NaN,NaN,NaN,0.0
202,202,NaN,NaN,NaN,0.0
203,203,NaN,NaN,NaN,0.0
204,204,NaN,NaN,NaN,0.0

In [39]:
fertiliy= pd.read_csv('fertility_rate.csv')
fertiliy

,Series Name,Series Code,Country Name,Country Code,Scale (Precision),2015 [YR2015]
0,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Afghanistan,AFG,Unit (0.0),4.8
1,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Albania,ALB,Unit (0.0),1.7
2,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Algeria,DZA,Unit (0.0),2.8
3,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,American Samoa,ASM,Unit (0.0),NaN
4,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Andorra,AND,Unit (0.0),NaN
5,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Angola,AGO,Unit (0.0),5.8
6,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Antigua and Barbuda,ATG,Unit (0.0),2.1
7,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Arab World,ARB,Unit (0.0),3.4
8,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Argentina,ARG,Unit (0.0),2.3
9,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Armenia,ARM,Unit (0.0),1.6
10,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Aruba,ABW,Unit (0.0),1.8
11,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Australia,AUS,Unit (0.0),1.8
12,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Austria,AUT,Unit (0.0),1.5
13,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Azerbaijan,AZE,Unit (0.0),1.9
14,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,"Bahamas, The",BHS,Unit (0.0),1.8
15,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Bahrain,BHR,Unit (0.0),2.1
16,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Bangladesh,BGD,Unit (0.0),2.1
17,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Barbados,BRB,Unit (0.0),1.8
18,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Belarus,BLR,Unit (0.0),1.7
19,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Belgium,BEL,Unit (0.0),1.7
20,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Belize,BLZ,Unit (0.0),2.5
21,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Benin,BEN,Unit (0.0),5.0
22,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Bermuda,BMU,Unit (0.0),1.6
23,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Bhutan,BTN,Unit (0.0),2.1
24,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Bolivia,BOL,Unit (0.0),2.9
25,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Bosnia and Herzegovina,BIH,Unit (0.0),1.3
26,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Botswana,BWA,Unit (0.0),2.8
27,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Brazil,BRA,Unit (0.0),1.7
28,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,British Virgin Islands,VGB,Unit (0.0),NaN
29,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Brunei Darussalam,BRN,Unit (0.0),1.9
...,...,...,...,...,...,...
238,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Togo,TGO,Unit (0.0),4.5
239,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Tonga,TON,Unit (0.0),3.7
240,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Trinidad and Tobago,TTO,Unit (0.0),1.8
241,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Tunisia,TUN,Unit (0.0),2.2
242,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Turkey,TUR,Unit (0.0),2.1
243,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Turkmenistan,TKM,Unit (0.0),2.9
244,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Turks and Caicos Islands,TCA,Unit (0.0),NaN
245,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Tuvalu,TUV,Unit (0.0),NaN
246,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Uganda,UGA,Unit (0.0),5.7
247,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Ukraine,UKR,Unit (0.0),1.5
248,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,United Arab Emirates,ARE,Unit (0.0),1.8
249,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,United Kingdom,GBR,Unit (0.0),1.8
250,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,United States,USA,Unit (0.0),1.8
251,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Upper middle income,UMC,Unit (0.0),1.8
252,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Uruguay,URY,Unit (0.0),2.0
253,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Uzbekistan,UZB,Unit (0.0),2.5
254,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Vanuatu,VUT,Unit (0.0),3.3
255,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,"Venezuela, RB",VEN,Unit (0.0),2.3
256,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Vietnam,VNM,Unit (0.0),2.0
257,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Virgin Islands (U.S.),VIR,Unit (0.0),2.1
258,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,West Bank and Gaza,PSE,Unit (0.0),4.1
259,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,World,WLD,Unit (0.0),2.5
260,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,"Yemen, Rep.",YEM,Unit (0.0),4.1
261,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Zambia,ZMB,Unit (0.0),5.0
262,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Zimbabwe,ZWE,Unit (0.0),3.8
263,NaN,NaN,NaN,NaN,NaN,NaN
264,NaN,NaN,NaN,NaN,NaN,NaN
265,NaN,NaN,NaN,NaN,NaN,NaN
266,Data from database: Gender Statistics,NaN,NaN,NaN,NaN,NaN
267,Last Updated: 10/22/2018,NaN,NaN,NaN,NaN,NaN

In [40]:
fertiliy= fertiliy.iloc[:, 2:]
fertiliy

                 Country Name Country Code Scale (Precision)  2015 [YR2015]
0                 Afghanistan          AFG        Unit (0.0)            4.8
1                     Albania          ALB        Unit (0.0)            1.7
2                     Algeria          DZA        Unit (0.0)            2.8
3              American Samoa          ASM        Unit (0.0)            NaN
4                     Andorra          AND        Unit (0.0)            NaN
5                      Angola          AGO        Unit (0.0)            5.8
6         Antigua and Barbuda          ATG        Unit (0.0)            2.1
7                  Arab World          ARB        Unit (0.0)            3.4
8                   Argentina          ARG        Unit (0.0)            2.3
9                     Armenia          ARM        Unit (0.0)            1.6
10                      Aruba          ABW        Unit (0.0)            1.8
11                  Australia          AUS        Unit (0.0)            1.8
12                    Austria          AUT        Unit (0.0)            1.5
13                 Azerbaijan          AZE        Unit (0.0)            1.9
14               Bahamas, The          BHS        Unit (0.0)            1.8
15                    Bahrain          BHR        Unit (0.0)            2.1
16                 Bangladesh          BGD        Unit (0.0)            2.1
17                   Barbados          BRB        Unit (0.0)            1.8
18                    Belarus          BLR        Unit (0.0)            1.7
19                    Belgium          BEL        Unit (0.0)            1.7
20                     Belize          BLZ        Unit (0.0)            2.5
21                      Benin          BEN        Unit (0.0)            5.0
22                    Bermuda          BMU        Unit (0.0)            1.6
23                     Bhutan          BTN        Unit (0.0)            2.1
24                    Bolivia          BOL        Unit (0.0)            2.9
25     Bosnia and Herzegovina          BIH        Unit (0.0)            1.3
26                   Botswana          BWA        Unit (0.0)            2.8
27                     Brazil          BRA        Unit (0.0)            1.7
28     British Virgin Islands          VGB        Unit (0.0)            NaN
29          Brunei Darussalam          BRN        Unit (0.0)            1.9
..                        ...          ...               ...            ...
238                      Togo          TGO        Unit (0.0)            4.5
239                     Tonga          TON        Unit (0.0)            3.7
240       Trinidad and Tobago          TTO        Unit (0.0)            1.8
241                   Tunisia          TUN        Unit (0.0)            2.2
242                    Turkey          TUR        Unit (0.0)            2.1
243              Turkmenistan          TKM        Unit (0.0)            2.9
244  Turks and Caicos Islands          TCA        Unit (0.0)            NaN
245                    Tuvalu          TUV        Unit (0.0)            NaN
246                    Uganda          UGA        Unit (0.0)            5.7
247                   Ukraine          UKR        Unit (0.0)            1.5
248      United Arab Emirates          ARE        Unit (0.0)            1.8
249            United Kingdom          GBR        Unit (0.0)            1.8
250             United States          USA        Unit (0.0)            1.8
251       Upper middle income          UMC        Unit (0.0)            1.8
252                   Uruguay          URY        Unit (0.0)            2.0
253                Uzbekistan          UZB        Unit (0.0)            2.5
254                   Vanuatu          VUT        Unit (0.0)            3.3
255             Venezuela, RB          VEN        Unit (0.0)            2.3
256                   Vietnam          VNM        Unit (0.0)            2.0
257     Virgin Islands (U.S.)          VIR        Unit (0.0)            2.1
258        West Bank and Gaza          PSE        Unit (0.0)            4.1
259                     World          WLD        Unit (0.0)            2.5
260               Yemen, Rep.          YEM        Unit (0.0)            4.1
261                    Zambia          ZMB        Unit (0.0)            5.0
262                  Zimbabwe          ZWE        Unit (0.0)            3.8
263                       NaN          NaN               NaN            NaN
264                       NaN          NaN               NaN            NaN
265                       NaN          NaN               NaN            NaN
266                       NaN          NaN               NaN            NaN
267                       NaN          NaN               NaN            NaN

[268 rows x 4 columns]

In [41]:
fertiliy= fertiliy.drop(columns= ['Country Code', 'Scale (Precision)'])
fertiliy

                 Country Name  2015 [YR2015]
0                 Afghanistan            4.8
1                     Albania            1.7
2                     Algeria            2.8
3              American Samoa            NaN
4                     Andorra            NaN
5                      Angola            5.8
6         Antigua and Barbuda            2.1
7                  Arab World            3.4
8                   Argentina            2.3
9                     Armenia            1.6
10                      Aruba            1.8
11                  Australia            1.8
12                    Austria            1.5
13                 Azerbaijan            1.9
14               Bahamas, The            1.8
15                    Bahrain            2.1
16                 Bangladesh            2.1
17                   Barbados            1.8
18                    Belarus            1.7
19                    Belgium            1.7
20                     Belize            2.5
21                      Benin            5.0
22                    Bermuda            1.6
23                     Bhutan            2.1
24                    Bolivia            2.9
25     Bosnia and Herzegovina            1.3
26                   Botswana            2.8
27                     Brazil            1.7
28     British Virgin Islands            NaN
29          Brunei Darussalam            1.9
..                        ...            ...
238                      Togo            4.5
239                     Tonga            3.7
240       Trinidad and Tobago            1.8
241                   Tunisia            2.2
242                    Turkey            2.1
243              Turkmenistan            2.9
244  Turks and Caicos Islands            NaN
245                    Tuvalu            NaN
246                    Uganda            5.7
247                   Ukraine            1.5
248      United Arab Emirates            1.8
249            United Kingdom            1.8
250             United States            1.8
251       Upper middle income            1.8
252                   Uruguay            2.0
253                Uzbekistan            2.5
254                   Vanuatu            3.3
255             Venezuela, RB            2.3
256                   Vietnam            2.0
257     Virgin Islands (U.S.)            2.1
258        West Bank and Gaza            4.1
259                     World            2.5
260               Yemen, Rep.            4.1
261                    Zambia            5.0
262                  Zimbabwe            3.8
263                       NaN            NaN
264                       NaN            NaN
265                       NaN            NaN
266                       NaN            NaN
267                       NaN            NaN

[268 rows x 2 columns]

In [42]:
fertility= fertiliy

In [43]:
all_fertility_countries = fertility['Country Name'].tolist()
fertility_vals = []
for country in countries_pop:
    try:
        index = all_fertility_countries.index(country)
        fertility_vals.append(fertility.loc[index, '2015 [YR2015]'])
        
    except:
        print(country)
#         print(gdp['Country Name'])

fertility_vals

[4.8,
 1.7,
 2.8,
 5.8,
 2.3,
 1.6,
 1.8,
 1.8,
 1.5,
 1.9,
 2.1,
 2.1,
 1.8,
 1.7,
 1.7,
 2.5,
 5.0,
 1.6,
 2.1,
 2.9,
 1.3,
 2.8,
 1.7,
 1.9,
 1.5,
 5.4,
 5.8,
 2.4,
 2.6,
 4.8,
 1.6,
 nan,
 4.9,
 1.5,
 6.1,
 1.5,
 1.8,
 1.6,
 1.9,
 4.4,
 4.7,
 1.8,
 5.0,
 1.4,
 1.7,
 1.9,
 1.4,
 1.6,
 1.7,
 2.9,
 nan,
 2.5,
 2.5,
 2.1,
 4.2,
 1.6,
 3.1,
 4.3,
 1.6,
 2.4,
 2.5,
 1.7,
 2.0,
 2.0,
 3.9,
 5.5,
 2.0,
 1.5,
 4.0,
 nan,
 1.3,
 2.0,
 2.1,
 2.4,
 3.0,
 4.9,
 4.7,
 2.5,
 3.0,
 2.5,
 1.2,
 1.5,
 1.8,
 2.4,
 2.4,
 1.7,
 4.4,
 1.9,
 nan,
 3.1,
 1.4,
 2.0,
 1.5,
 3.4,
 2.7,
 3.9,
 3.7,
 1.2,
 2.1,
 2.0,
 3.2,
 1.7,
 3.1,
 4.7,
 2.3,
 1.4,
 1.7,
 1.5,
 4.2,
 4.6,
 2.1,
 2.1,
 6.1,
 1.5,
 4.7,
 1.4,
 2.2,
 1.2,
 nan,
 2.8,
 1.7,
 2.5,
 5.3,
 2.2,
 3.5,
 nan,
 2.2,
 1.7,
 2.1,
 2.0,
 2.2,
 7.3,
 5.6,
 1.7,
 2.7,
 3.6,
 2.2,
 2.5,
 3.7,
 2.5,
 2.4,
 3.0,
 1.3,
 1.3,
 1.3,
 1.9,
 1.6,
 1.8,
 4.0,
 4.0,
 nan,
 4.5,
 2.6,
 4.8,
 1.5,
 2.4,
 4.6,
 1.2,
 1.4,
 1.6,
 3.9,
 6.4,
 2.5,
 4.9,
 1.3,
 2.1,
 nan,
 1.5,
 1.8,
 2.0,
 4.6,
 2.4,
 1.9,
 1.5,
 3.0,
 3.4,
 5.1,
 1.5,
 5.6,
 4.5,
 3.7,
 1.8,
 2.2,
 2.1,
 2.9,
 nan,
 nan,
 5.7,
 1.5,
 1.8,
 1.8,
 1.8,
 2.0,
 2.5,
 3.3,
 2.3,
 2.0,
 4.1,
 5.0,
 3.8,
 nan,
 nan,
 nan,
 nan,
 nan]

In [44]:
len(fertility_vals)

205

In [45]:
# def check():
# #     foo = ['True' for country in fertility['Country Name'].tolist() if country == "Korea, Dem. People's Rep."]
# #     return foo
#     if "Korea, Dem. People's Rep." in fertility['Country Name'].tolist():
#         return 'True'

# check()

In [46]:
pop['fertility_rate']= fertility_vals

In [47]:
pop

,index,Country Name,2015 [YR2015],gdp,maternity_leaves,fertility_rate
0,0,Afghanistan,33736494,569.5779229167,1.0,4.8
1,1,Albania,2880703,3952.83078116586,1.0,1.7
2,2,Algeria,39871528,4160.22006671831,1.0,2.8
3,3,Angola,27859305,3683.5526074127,1.0,5.8
4,4,Argentina,43417765,13698.2934384857,1.0,2.3
5,5,Armenia,2916950,3617.93574555176,1.0,1.6
6,6,Aruba,104341,..,NaN,1.8
7,7,Australia,23850784,56561.4123818054,0.0,1.8
8,8,Austria,8642699,44206.7842820834,1.0,1.5
9,9,Azerbaijan,9649341,5500.31038244408,1.0,1.9
10,10,Bahrain,1371855,22688.8782442968,1.0,2.1
11,11,Bangladesh,161200886,1210.15876939761,1.0,2.1
12,12,Barbados,284217,16129.0492827663,1.0,1.8
13,13,Belarus,9489616,5949.10630699748,1.0,1.7
14,14,Belgium,11274196,40361.1541907535,1.0,1.7
15,15,Belize,359288,4950.25606198927,1.0,2.5
16,16,Benin,10575952,783.963077800944,1.0,5.0
17,17,Bermuda,65239,..,NaN,1.6
18,18,Bhutan,787386,2615.31022007844,1.0,2.1
19,19,Bolivia,10724705,3077.02619917158,1.0,2.9
20,20,Bosnia and Herzegovina,3535961,4584.24254781755,1.0,1.3
21,21,Botswana,2209197,6527.50816086673,1.0,2.8
22,22,Brazil,205962108,8750.22299607324,1.0,1.7
23,23,Brunei Darussalam,417542,30967.890506377,1.0,1.9
24,24,Bulgaria,7177991,6993.47554370696,1.0,1.5
25,25,Burkina Faso,18110624,575.314454176312,1.0,5.4
26,26,Burundi,10199270,300.676556925263,1.0,5.8
27,27,Cabo Verde,532913,2995.15055267969,1.0,2.4
28,28,Cambodia,15517635,1163.18977018231,1.0,2.6
29,29,Cameroon,22834522,1353.92448961447,1.0,4.8
...,...,...,...,...,...,...
175,175,Tajikistan,8548651,918.677154325296,1.0,3.4
176,176,Tanzania,53879957,872.295494924971,1.0,5.1
177,177,Thailand,68657600,5846.39460806913,1.0,1.5
178,178,Timor-Leste,1240977,2501.59835400972,1.0,5.6
179,179,Togo,7416802,551.150673157549,1.0,4.5
180,180,Tonga,106364,4093.84958521364,0.0,3.7
181,181,Trinidad and Tobago,1360092,17941.8005923033,1.0,1.8
182,182,Tunisia,11273661,3828.10063289426,1.0,2.2
183,183,Turkey,78271472,10984.8052020041,1.0,2.1
184,184,Turkmenistan,5565284,6432.66876792426,NaN,2.9
185,185,Turks and Caicos Islands,34339,..,NaN,NaN
186,186,Tuvalu,11001,3232.07334039174,NaN,NaN
187,187,Uganda,40144870,675.121141793718,1.0,5.7
188,188,Ukraine,45154029,2124.66266591114,1.0,1.5
189,189,United Arab Emirates,9154302,39122.0497054272,1.0,1.8
190,190,United Kingdom,65128861,44305.5546320834,1.0,1.8
191,191,United States,321039839,56443.8172422582,0.0,1.8
192,192,Uruguay,3431552,15524.8424684038,1.0,2.0
193,193,Uzbekistan,31298900,2137.57685230278,1.0,2.5
194,194,Vanuatu,264603,2788.77091878844,1.0,3.3
195,195,"Venezuela, RB",31155134,..,1.0,2.3
196,196,Vietnam,93571567,2065.16909895862,1.0,2.0
197,197,"Yemen, Rep.",26916207,1285.56301929087,1.0,4.1
198,198,Zambia,16100587,1313.88964550765,1.0,5.0
199,199,Zimbabwe,15777451,1033.41584138021,1.0,3.8
200,200,NaN,NaN,NaN,0.0,NaN
201,201,NaN,NaN,NaN,0.0,NaN
202,202,NaN,NaN,NaN,0.0,NaN
203,203,NaN,NaN,NaN,0.0,NaN
204,204,NaN,NaN,NaN,0.0,NaN

In [48]:
mortality= pd.read_csv('mortality2.csv')
mortality

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
0,Aruba,ABW,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,631.0,584.0,536.0,496.0,459.0,425.0,396.0,NaN,NaN,NaN
2,Angola,AGO,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,581.0,561.0,546.0,526.0,509.0,493.0,477.0,NaN,NaN,NaN
3,Albania,ALB,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,30.0,30.0,30.0,30.0,29.0,29.0,29.0,NaN,NaN,NaN
4,Andorra,AND,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arab World,ARB,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,180.0,174.0,170.0,166.0,163.0,159.0,156.0,NaN,NaN,NaN
6,United Arab Emirates,ARE,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,NaN,NaN,NaN
7,Argentina,ARG,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,62.0,58.0,56.0,55.0,54.0,54.0,52.0,NaN,NaN,NaN
8,Armenia,ARM,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,36.0,33.0,31.0,30.0,28.0,26.0,25.0,NaN,NaN,NaN
9,American Samoa,ASM,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Australia,AUS,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,6.0,7.0,6.0,6.0,6.0,6.0,NaN,NaN,NaN
12,Austria,AUT,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,NaN,NaN,NaN
13,Azerbaijan,AZE,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,27.0,27.0,26.0,25.0,25.0,26.0,25.0,NaN,NaN,NaN
14,Burundi,BDI,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,824.0,808.0,796.0,780.0,760.0,737.0,712.0,NaN,NaN,NaN
15,Belgium,BEL,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,8.0,8.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN
16,Benin,BEN,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,457.0,446.0,436.0,429.0,422.0,414.0,405.0,NaN,NaN,NaN
17,Burkina Faso,BFA,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,428.0,417.0,408.0,398.0,389.0,379.0,371.0,NaN,NaN,NaN
18,Bangladesh,BGD,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,258.0,242.0,228.0,214.0,201.0,188.0,176.0,NaN,NaN,NaN
19,Bulgaria,BGR,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,11.0,11.0,10.0,11.0,11.0,11.0,NaN,NaN,NaN
20,Bahrain,BHR,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,17.0,16.0,16.0,16.0,15.0,15.0,15.0,NaN,NaN,NaN
21,"Bahamas, The",BHS,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,80.0,85.0,86.0,82.0,81.0,83.0,80.0,NaN,NaN,NaN
22,Bosnia and Herzegovina,BIH,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,13.0,12.0,12.0,12.0,12.0,11.0,NaN,NaN,NaN
23,Belarus,BLR,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,5.0,5.0,4.0,4.0,4.0,4.0,NaN,NaN,NaN
24,Belize,BLZ,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,39.0,37.0,33.0,32.0,29.0,28.0,28.0,NaN,NaN,NaN
25,Bermuda,BMU,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Bolivia,BOL,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,266.0,253.0,241.0,230.0,222.0,215.0,206.0,NaN,NaN,NaN
27,Brazil,BRA,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,65.0,65.0,59.0,60.0,48.0,46.0,44.0,NaN,NaN,NaN
28,Barbados,BRB,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,34.0,33.0,31.0,29.0,28.0,28.0,27.0,NaN,NaN,NaN
29,Brunei Darussalam,BRN,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,26.0,27.0,29.0,25.0,24.0,23.0,23.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,85.0,81.0,78.0,76.0,72.0,70.0,68.0,NaN,NaN,NaN
235,Timor-Leste,TLS,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,350.0,317.0,289.0,267.0,248.0,231.0,215.0,NaN,NaN,NaN
236,Middle East & North Africa (IDA & IBRD countries),TMN,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,102.0,99.0,97.0,96.0,94.0,93.0,91.0,NaN,NaN,NaN
237,Tonga,TON,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,127.0,130.0,133.0,135.0,131.0,127.0,124.0,NaN,NaN,NaN
238,South Asia (IDA & IBRD),TSA,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,239.0,228.0,218.0,208.0,198.0,189.0,182.0,NaN,NaN,NaN
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,642.0,625.0,601.0,587.0,573.0,560.0,547.0,NaN,NaN,NaN
240,Trinidad and Tobago,TTO,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,64.0,65.0,65.0,63.0,64.0,63.0,63.0,NaN,NaN,NaN
241,Tunisia,TUN,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,68.0,67.0,66.0,64.0,64.0,63.0,62.0,NaN,NaN,NaN
242,Turkey,TUR,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,27.0,23.0,21.0,19.0,18.0,17.0,16.0,NaN,NaN,NaN
243,Tuvalu,TUV,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Tanzania,TZA,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,542.0,514.0,483.0,464.0,438.0,418.0,398.0,NaN,NaN,NaN
245,Uganda,UGA,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,432.0,420.0,408.0,395.0,372.0,356.0,343.0,NaN,NaN,NaN
246,Ukraine,UKR,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,28.0,26.0,25.0,25.0,24.0,24.0,24.0,NaN,NaN,NaN
247,Upper middle income,UMC,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,52.0,50.0,48.0,46.0,44.0,42.0,41.0,NaN,NaN,NaN
248,Uruguay,URY,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,20.0,19.0,17.0,16.0,16.0,15.0,15.0,NaN,NaN,NaN
249,United States,USA,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,15.0,14.0,14.0,14.0,14.0,14.0,14.0,NaN,NaN,NaN
250,Uzbekistan,UZB,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,40.0,39.0,38.0,38.0,37.0,37.0,36.0,NaN,NaN,NaN
251,St. Vincent and the Grenadines,VCT,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,51.0,50.0,48.0,47.0,46.0,45.0,45.0,NaN,NaN,NaN
252,"Venezuela, RB",VEN,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,98.0,99.0,99.0,98.0,98.0,97.0,95.0,NaN,NaN,NaN
253,British Virgin Islands,VGB,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Virgin Islands (U.S.),VIR,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,Vietnam,VNM,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,57.0,58.0,56.0,56.0,55.0,54.0,54.0,NaN,NaN,NaN
256,Vanuatu,VUT,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,98.0,94.0,91.0,87.0,84.0,81.0,78.0,NaN,NaN,NaN
257,World,WLD,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,254.0,246.0,237.0,232.0,226.0,221.0,216.0,NaN,NaN,NaN
258,Samoa,WSM,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,66.0,64.0,61.0,59.0,56.0,53.0,51.0,NaN,NaN,NaN
259,Kosovo,XKX,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,417.0,416.0,413.0,410.0,406.0,398.0,385.0,NaN,NaN,NaN
261,South Africa,ZAF,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,148.0,154.0,154.0,152.0,145.0,140.0,138.0,NaN,NaN,NaN
262,Zambia,ZMB,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,274.0,262.0,251.0,243.0,237.0,231.0,224.0,NaN,NaN,NaN
263,Zimbabwe,ZWE,"Maternal mortality ratio (modeled estimate, pe...",SH.STA.MMRT,NaN,NaN,NaN,NaN,NaN,NaN,...,485.0,446.0,409.0,379.0,369.0,401.0,443.0,NaN,NaN,NaN

In [50]:
mort = mortality[['Country Name', '2015']]
mort

                                          Country Name   2015
0                                                Aruba    NaN
1                                          Afghanistan  396.0
2                                               Angola  477.0
3                                              Albania   29.0
4                                              Andorra    NaN
5                                           Arab World  156.0
6                                 United Arab Emirates    6.0
7                                            Argentina   52.0
8                                              Armenia   25.0
9                                       American Samoa    NaN
10                                 Antigua and Barbuda    NaN
11                                           Australia    6.0
12                                             Austria    4.0
13                                          Azerbaijan   25.0
14                                             Burundi  712.0
15                                             Belgium    7.0
16                                               Benin  405.0
17                                        Burkina Faso  371.0
18                                          Bangladesh  176.0
19                                            Bulgaria   11.0
20                                             Bahrain   15.0
21                                        Bahamas, The   80.0
22                              Bosnia and Herzegovina   11.0
23                                             Belarus    4.0
24                                              Belize   28.0
25                                             Bermuda    NaN
26                                             Bolivia  206.0
27                                              Brazil   44.0
28                                            Barbados   27.0
29                                   Brunei Darussalam   23.0
..                                                 ...    ...
234  Latin America & the Caribbean (IDA & IBRD coun...   68.0
235                                        Timor-Leste  215.0
236  Middle East & North Africa (IDA & IBRD countries)   91.0
237                                              Tonga  124.0
238                            South Asia (IDA & IBRD)  182.0
239          Sub-Saharan Africa (IDA & IBRD countries)  547.0
240                                Trinidad and Tobago   63.0
241                                            Tunisia   62.0
242                                             Turkey   16.0
243                                             Tuvalu    NaN
244                                           Tanzania  398.0
245                                             Uganda  343.0
246                                            Ukraine   24.0
247                                Upper middle income   41.0
248                                            Uruguay   15.0
249                                      United States   14.0
250                                         Uzbekistan   36.0
251                     St. Vincent and the Grenadines   45.0
252                                      Venezuela, RB   95.0
253                             British Virgin Islands    NaN
254                              Virgin Islands (U.S.)    NaN
255                                            Vietnam   54.0
256                                            Vanuatu   78.0
257                                              World  216.0
258                                              Samoa   51.0
259                                             Kosovo    NaN
260                                        Yemen, Rep.  385.0
261                                       South Africa  138.0
262                                             Zambia  224.0
263                                           Zimbabwe  443.0

[264 rows x 2 columns]

In [53]:
all_mortality_countries = mort['Country Name'].tolist()
mortality_values = []
for country in countries_pop:
    try:
        index = all_mortality_countries.index(country)
        mortality_values.append(mort.loc[index, '2015'])
        
    except:
        print(country)
#         print(gdp['Country Name'])

len(mortality_values)

nan
nan
nan
nan
nan

200

In [56]:
nan= ['Null', 'Null', 'Null', 'Null', 'Null']
mortality = mortality_values + nan
mortality= list(mortality)
len(mortality)

205

In [57]:
pop['Mortality Rate']= mortality

In [60]:
pop.drop(columns='index')

,Country Name,2015 [YR2015],gdp,maternity_leaves,fertility_rate,Mortality Rate
0,Afghanistan,33736494,569.5779229167,1.0,4.8,396
1,Albania,2880703,3952.83078116586,1.0,1.7,29
2,Algeria,39871528,4160.22006671831,1.0,2.8,140
3,Angola,27859305,3683.5526074127,1.0,5.8,477
4,Argentina,43417765,13698.2934384857,1.0,2.3,52
5,Armenia,2916950,3617.93574555176,1.0,1.6,25
6,Aruba,104341,..,NaN,1.8,NaN
7,Australia,23850784,56561.4123818054,0.0,1.8,6
8,Austria,8642699,44206.7842820834,1.0,1.5,4
9,Azerbaijan,9649341,5500.31038244408,1.0,1.9,25
10,Bahrain,1371855,22688.8782442968,1.0,2.1,15
11,Bangladesh,161200886,1210.15876939761,1.0,2.1,176
12,Barbados,284217,16129.0492827663,1.0,1.8,27
13,Belarus,9489616,5949.10630699748,1.0,1.7,4
14,Belgium,11274196,40361.1541907535,1.0,1.7,7
15,Belize,359288,4950.25606198927,1.0,2.5,28
16,Benin,10575952,783.963077800944,1.0,5.0,405
17,Bermuda,65239,..,NaN,1.6,NaN
18,Bhutan,787386,2615.31022007844,1.0,2.1,148
19,Bolivia,10724705,3077.02619917158,1.0,2.9,206
20,Bosnia and Herzegovina,3535961,4584.24254781755,1.0,1.3,11
21,Botswana,2209197,6527.50816086673,1.0,2.8,129
22,Brazil,205962108,8750.22299607324,1.0,1.7,44
23,Brunei Darussalam,417542,30967.890506377,1.0,1.9,23
24,Bulgaria,7177991,6993.47554370696,1.0,1.5,11
25,Burkina Faso,18110624,575.314454176312,1.0,5.4,371
26,Burundi,10199270,300.676556925263,1.0,5.8,712
27,Cabo Verde,532913,2995.15055267969,1.0,2.4,42
28,Cambodia,15517635,1163.18977018231,1.0,2.6,161
29,Cameroon,22834522,1353.92448961447,1.0,4.8,596
...,...,...,...,...,...,...
175,Tajikistan,8548651,918.677154325296,1.0,3.4,32
176,Tanzania,53879957,872.295494924971,1.0,5.1,398
177,Thailand,68657600,5846.39460806913,1.0,1.5,20
178,Timor-Leste,1240977,2501.59835400972,1.0,5.6,215
179,Togo,7416802,551.150673157549,1.0,4.5,368
180,Tonga,106364,4093.84958521364,0.0,3.7,124
181,Trinidad and Tobago,1360092,17941.8005923033,1.0,1.8,63
182,Tunisia,11273661,3828.10063289426,1.0,2.2,62
183,Turkey,78271472,10984.8052020041,1.0,2.1,16
184,Turkmenistan,5565284,6432.66876792426,NaN,2.9,42
185,Turks and Caicos Islands,34339,..,NaN,NaN,NaN
186,Tuvalu,11001,3232.07334039174,NaN,NaN,NaN
187,Uganda,40144870,675.121141793718,1.0,5.7,343
188,Ukraine,45154029,2124.66266591114,1.0,1.5,24
189,United Arab Emirates,9154302,39122.0497054272,1.0,1.8,6
190,United Kingdom,65128861,44305.5546320834,1.0,1.8,9
191,United States,321039839,56443.8172422582,0.0,1.8,14
192,Uruguay,3431552,15524.8424684038,1.0,2.0,15
193,Uzbekistan,31298900,2137.57685230278,1.0,2.5,36
194,Vanuatu,264603,2788.77091878844,1.0,3.3,78
195,"Venezuela, RB",31155134,..,1.0,2.3,95
196,Vietnam,93571567,2065.16909895862,1.0,2.0,54
197,"Yemen, Rep.",26916207,1285.56301929087,1.0,4.1,385
198,Zambia,16100587,1313.88964550765,1.0,5.0,224
199,Zimbabwe,15777451,1033.41584138021,1.0,3.8,443
200,NaN,NaN,NaN,0.0,NaN,Null
201,NaN,NaN,NaN,0.0,NaN,Null
202,NaN,NaN,NaN,0.0,NaN,Null
203,NaN,NaN,NaN,0.0,NaN,Null
204,NaN,NaN,NaN,0.0,NaN,Null

In [1]:
healthcare = ['Norway', 'New Zealand', 'Japan', 'Germany', 'Belgium', 'United Kingdom', 'Kuwait', 'Sweden', 'Bahrain', 'Brunei', 'Canada', 'Netherlands', 'Austria', 'United Arab Emirates', 'Finland', 'Slovenia', 'Denmark', 'Luxembourg', 'France', 'Australia', 'Ireland', 'Italy', 'Portugal', 'Cyprus', 'Greece', 'Spain', 'South Korea', 'Iceland', 'Hong Kong', 'Singapore', 'Switzerland', 'Israel']

In [2]:
universal= [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]