In [1]:
from bs4 import BeautifulSoup
import requests

In [3]:
alc_request = requests.get('https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1310061801&pickMembers%5B0%5D=2.5&pickMembers%5B1%5D=3.3&pickMembers%5B2%5D=5.1')
alc_html = alc_request.text
alc_soup = BeautifulSoup(alc_html)

In [2]:
import pandas as pd

In [28]:
df = pd.read_csv('population.csv')
df.iloc[:, 2:]

,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017]
0,Afghanistan,AFG,12249114,20093756,27294031,28004331,28803167,29708599,30696958,31731688,32758020,33736494,34656032,35530081
1,Albania,ALB,3286542,3089027,2947314,2927519,2913021,2905195,2900401,2895092,2889104,2880703,2876101,2873457
2,Algeria,DZA,25912367,31183660,34860715,35465760,36117637,36819558,37565847,38338562,39113313,39871528,40606052,41318142
3,American Samoa,ASM,47038,57521,57030,56227,55637,55320,55230,55307,55437,55537,55599,55641
4,Andorra,AND,54509,65390,83861,84462,84449,83751,82431,80788,79223,78014,77281,76965
5,Angola,AGO,12171441,16440924,21759420,22549547,23369131,24218565,25096150,25998340,26920466,27859305,28813463,29784193
6,Antigua and Barbuda,ATG,66696,83584,92478,93581,94661,95719,96777,97824,98875,99923,100963,102012
7,Argentina,ARG,32729739,37057452,40382389,40799407,41223889,41656879,42096739,42539925,42981515,43417765,43847430,44271041
8,Armenia,ARM,3538165,3069588,2908220,2888584,2877311,2875581,2881922,2893509,2906220,2916950,2924816,2930450
9,Aruba,ABW,62149,90853,101353,101453,101669,102053,102577,103187,103795,104341,104822,105264
10,Australia,AUS,17065100,19153000,21249200,21691700,22031750,22340024,22742475,23145901,23504138,23850784,24210809,24598933
11,Austria,AUT,7677850,8011566,8321496,8343323,8363404,8391643,8429991,8479823,8546356,8642699,8736668,8809212
12,Azerbaijan,AZE,7159000,8048600,8763400,8947243,9054332,9173082,9295784,9416801,9535079,9649341,9757812,9862429
13,"Bahamas, The",BHS,256336,297890,348676,354856,360832,366568,372039,377240,382169,386838,391232,395361
14,Bahrain,BHR,495931,664614,1114590,1185029,1240862,1278269,1300217,1315411,1336397,1371855,1425171,1492584
15,Bangladesh,BGD,106188642,131581243,148805814,150454708,152149102,153911916,155727053,157571292,159405279,161200886,162951560,164669751
16,Barbados,BRB,260374,269847,277319,278470,279569,280601,281585,282509,283385,284217,284996,285719
17,Belarus,BLR,10189000,9979610,9527985,9506765,9490583,9473172,9464495,9465997,9474511,9489616,9501534,9507875
18,Belgium,BEL,9967379,10251250,10709973,10796493,10895586,11047744,11128246,11182817,11209057,11274196,11331422,11372068
19,Belize,BLZ,187552,247315,306165,313929,321608,329192,336701,344181,351694,359288,366954,374681
20,Benin,BEN,4978496,6865951,8696916,8944706,9199259,9460802,9729160,10004451,10286712,10575952,10872298,11175692
21,Bermuda,BMU,59326,61833,65273,65636,65124,64564,64798,65001,65139,65239,65341,65441
22,Bhutan,BTN,537280,573416,700950,714458,727641,740510,752967,764961,776448,787386,797765,807610
23,Bolivia,BOL,6856244,8339512,9599855,9758748,9918242,10078343,10239004,10400264,10562159,10724705,10887882,11051600
24,Bosnia and Herzegovina,BIH,4463422,3766706,3763599,3746561,3722084,3688865,3648200,3604999,3566002,3535961,3516816,3507017
25,Botswana,BWA,1377912,1728340,1946351,1979882,2014866,2051339,2089315,2128507,2168573,2209197,2250260,2291661
26,Brazil,BRA,149352145,175287587,192979029,194895996,196796269,198686688,200560983,202408632,204213133,205962108,207652865,209288278
27,British Virgin Islands,VGB,16461,20645,25604,26447,27224,27901,28509,29056,29588,30113,30661,31196
28,Brunei Darussalam,BRN,258785,333241,379252,383772,388662,394013,399748,405716,411704,417542,423196,428697
29,Bulgaria,BGR,8718289,8170172,7492561,7444443,7395599,7348328,7305888,7265115,7223938,7177991,7127822,7075991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,Latin America & Caribbean (excluding high income),LAC,387713894,459908706,511896377,518406797,524870761,531283625,537645733,543940758,550149862,556257851,562254848,568136842
240,Latin America & the Caribbean (IDA & IBRD coun...,TLA,430014112,508826710,565956228,573125269,580246796,587315129,594330743,601277206,608136047,614891969,621534921,628059792
241,Least developed countries: UN classification,LDC,510827576,664804763,809730997,828953320,848791962,869298106,890423474,912093996,934192321,956631108,979387925,1002485957
242,Low & middle income,LMY,4250768747,5006672528,5584333697,5658778430,5734082511,5810352625,5887499549,5965580605,6044110924,6122845409,6202019744,6281293921
243,Low income,LIC,352473181,465631330,580229110,596172925,612274687,628504663,644901894,661550623,678572076,696058453,714022293,732448558
244,Lower middle income,LMC,1881674731,2280235216,2599821177,2640211692,2681264749,2722672277,2764105969,2805845772,2847559084,2889349899,2931075528,2972642807
245,Middle East & North Africa,MEA,255989130,317129227,371999662,380192587,388376106,396573248,404783020,412953000,421030035,428974903,436738031,444322417
246,Middle East & North Africa (excluding high inc...,MNA,227903820,280955290,323531149,329488935,335581557,341822043,348195697,354641044,361077997,367449306,373719055,379901782
247,Middle East & North Africa (IDA & IBRD countries),TMN,225925572,278033137,319934461,325786717,331770455,337894992,344148796,350471538,356783315,363027163,369167489,375217005
248,Middle income,MIC,3898295566,4541041198,5004104587,5062605505,5121807824,5181847962,5242597655,5304029982,5365538848,5426786956,5487997451,5548845363
249,North America,NAC,277473326,312993944,337405012,340465736,343408819,346051624,348808615,351451876,354223012,356937591,359735880,362492702
250,Not classified,INX,..,..,..,..,..,..,..,..,..,..,..,..
251,OECD members,OED,1072793105,1160068208,1228624922,1237366149,1245479028,1251781641,1259608786,1267734036,1276165062,1284497900,1292855641,1300865255
252,Other small states,OSS,17470899,20939372,24955735,25615419,26267053,26900149,27529595,28153079,28774019,29396503,30012500,30621014
253,Pacific island small states,PSS,1694408,1964216,2155339,2184837,2214096,2242763,2271298,2300045,2329458,2358955,2388875,2419188
254,Post-demographic dividend,PST,964601905,1020591853,1064603304,1070107590,1075131208,1078064180,1082727404,1087610209,1092678876,1097735849,1102778565,1107374909
255,Pre-demographic dividend,PRE,417158756,554097477,697549138,717959651,739082260,760942116,783505835,806705375,830442736,854646007,879292453,904399841
256,Small states,SST,25186921,29434279,34006389,34739790,35465245,36171934,36875022,37572012,38266156,38960406,39646847,40324496
257,South Asia,SAS,1133089464,1386625845,1584359049,1607663899,1630806784,1653798614,1676615491,1699310450,1721847786,1744199944,1766393714,1788388852
258,South Asia (IDA & IBRD),TSA,1133089464,1386625845,1584359049,1607663899,1630806784,1653798614,1676615491,1699310450,1721847786,1744199944,1766393714,1788388852
259,Sub-Saharan Africa,SSF,512177101,670649638,830965556,853953657,877628367,901989926,927039875,952734072,979017918,1005850049,1033212743,1061107721
260,Sub-Saharan Africa (excluding high income),SSA,512107594,670568507,830878600,853866359,877538597,901902485,926951572,952644123,978926559,1005756630,1033118066,1061011878
261,Sub-Saharan Africa (IDA & IBRD countries),TSS,512177101,670649638,830965556,853953657,877628367,901989926,927039875,952734072,979017918,1005850049,1033212743,1061107721
262,Upper middle income,UMC,2016620835,2260805982,2404283410,2422393813,2440543075,2459175685,2478491686,2498184210,2517979764,2537437057,2556921923,2576202556
263,World,WLD,5288103214,6121682736,6766296679,6849569339,6932869743,7014983968,7099557649,7185137526,7271322821,7357559450,7444157356,7530360149
264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# df[['Country Name','2015 [YR2015]']]

df = df.rename(columns={'Country Name': 'Country', '2015 [YR2015]': 'Population'})

In [46]:
pop = df[['Country', 'Population']]

In [52]:
fr_df = pd.read_csv('fertility_rate.csv')
fr_df = fr_df.rename(columns = {'2015 [YR2015]': 'Fertility Rate'})

fr = fr_df[['Country Name', 'Fertility Rate']]

pop

                                               Country  Population
0                                          Afghanistan    33736494
1                                              Albania     2880703
2                                              Algeria    39871528
3                                       American Samoa       55537
4                                              Andorra       78014
5                                               Angola    27859305
6                                  Antigua and Barbuda       99923
7                                            Argentina    43417765
8                                              Armenia     2916950
9                                                Aruba      104341
10                                           Australia    23850784
11                                             Austria     8642699
12                                          Azerbaijan     9649341
13                                        Bahamas, The      386838
14                                             Bahrain     1371855
15                                          Bangladesh   161200886
16                                            Barbados      284217
17                                             Belarus     9489616
18                                             Belgium    11274196
19                                              Belize      359288
20                                               Benin    10575952
21                                             Bermuda       65239
22                                              Bhutan      787386
23                                             Bolivia    10724705
24                              Bosnia and Herzegovina     3535961
25                                            Botswana     2209197
26                                              Brazil   205962108
27                              British Virgin Islands       30113
28                                   Brunei Darussalam      417542
29                                            Bulgaria     7177991
..                                                 ...         ...
239  Latin America & Caribbean (excluding high income)   556257851
240  Latin America & the Caribbean (IDA & IBRD coun...   614891969
241       Least developed countries: UN classification   956631108
242                                Low & middle income  6122845409
243                                         Low income   696058453
244                                Lower middle income  2889349899
245                         Middle East & North Africa   428974903
246  Middle East & North Africa (excluding high inc...   367449306
247  Middle East & North Africa (IDA & IBRD countries)   363027163
248                                      Middle income  5426786956
249                                      North America   356937591
250                                     Not classified          ..
251                                       OECD members  1284497900
252                                 Other small states    29396503
253                        Pacific island small states     2358955
254                          Post-demographic dividend  1097735849
255                           Pre-demographic dividend   854646007
256                                       Small states    38960406
257                                         South Asia  1744199944
258                            South Asia (IDA & IBRD)  1744199944
259                                 Sub-Saharan Africa  1005850049
260         Sub-Saharan Africa (excluding high income)  1005756630
261          Sub-Saharan Africa (IDA & IBRD countries)  1005850049
262                                Upper middle income  2537437057
263                                              World  7357559450
264                                                NaN         NaN
265                                                NaN         NaN
266                                                NaN         NaN
267                                                NaN         NaN
268                                                NaN         NaN

[269 rows x 2 columns]

In [53]:
fr

                 Country Name  Fertility Rate
0                 Afghanistan             4.8
1                     Albania             1.7
2                     Algeria             2.8
3              American Samoa             NaN
4                     Andorra             NaN
5                      Angola             5.8
6         Antigua and Barbuda             2.1
7                  Arab World             3.4
8                   Argentina             2.3
9                     Armenia             1.6
10                      Aruba             1.8
11                  Australia             1.8
12                    Austria             1.5
13                 Azerbaijan             1.9
14               Bahamas, The             1.8
15                    Bahrain             2.1
16                 Bangladesh             2.1
17                   Barbados             1.8
18                    Belarus             1.7
19                    Belgium             1.7
20                     Belize             2.5
21                      Benin             5.0
22                    Bermuda             1.6
23                     Bhutan             2.1
24                    Bolivia             2.9
25     Bosnia and Herzegovina             1.3
26                   Botswana             2.8
27                     Brazil             1.7
28     British Virgin Islands             NaN
29          Brunei Darussalam             1.9
..                        ...             ...
238                      Togo             4.5
239                     Tonga             3.7
240       Trinidad and Tobago             1.8
241                   Tunisia             2.2
242                    Turkey             2.1
243              Turkmenistan             2.9
244  Turks and Caicos Islands             NaN
245                    Tuvalu             NaN
246                    Uganda             5.7
247                   Ukraine             1.5
248      United Arab Emirates             1.8
249            United Kingdom             1.8
250             United States             1.8
251       Upper middle income             1.8
252                   Uruguay             2.0
253                Uzbekistan             2.5
254                   Vanuatu             3.3
255             Venezuela, RB             2.3
256                   Vietnam             2.0
257     Virgin Islands (U.S.)             2.1
258        West Bank and Gaza             4.1
259                     World             2.5
260               Yemen, Rep.             4.1
261                    Zambia             5.0
262                  Zimbabwe             3.8
263                       NaN             NaN
264                       NaN             NaN
265                       NaN             NaN
266                       NaN             NaN
267                       NaN             NaN

[268 rows x 2 columns]

In [55]:
pd.read_csv('pop.csv')

,Series Name,Series Code,Country Name,Country Code,Scale (Precision),2015 [YR2015]
0,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Zimbabwe,ZWE,Unit (0.0),3.4
1,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Zambia,ZMB,Unit (0.0),NaN
2,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,"Yemen, Rep.",YEM,Unit (0.0),NaN
3,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Vietnam,VNM,Unit (0.0),NaN
4,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,"Venezuela, RB",VEN,Unit (0.0),NaN
5,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Vanuatu,VUT,Unit (0.0),NaN
6,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Uzbekistan,UZB,Unit (0.0),NaN
7,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Uruguay,URY,Unit (0.0),NaN
8,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,United States,USA,Unit (0.0),NaN
9,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,United Kingdom,GBR,Unit (0.0),NaN
10,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,United Arab Emirates,ARE,Unit (0.0),NaN
11,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Ukraine,UKR,Unit (0.0),NaN
12,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Uganda,UGA,Unit (0.0),NaN
13,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Tuvalu,TUV,Unit (0.0),NaN
14,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Turks and Caicos Islands,TCA,Unit (0.0),NaN
15,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Turkmenistan,TKM,Unit (0.0),NaN
16,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Turkey,TUR,Unit (0.0),NaN
17,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Tunisia,TUN,Unit (0.0),NaN
18,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Trinidad and Tobago,TTO,Unit (0.0),NaN
19,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Tonga,TON,Unit (0.0),NaN
20,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Togo,TGO,Unit (0.0),NaN
21,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Timor-Leste,TLS,Unit (0.0),NaN
22,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Thailand,THA,Unit (0.0),NaN
23,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Tanzania,TZA,Unit (0.0),NaN
24,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Tajikistan,TJK,Unit (0.0),NaN
25,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Syrian Arab Republic,SYR,Unit (0.0),NaN
26,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Switzerland,CHE,Unit (0.0),NaN
27,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Sweden,SWE,Unit (0.0),NaN
28,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Eswatini,SWZ,Unit (0.0),NaN
29,Women who own a house both alone and jointly (...,SG.OWN.HSAJ.FE.Q5.ZS,Suriname,SUR,Unit (0.0),NaN
...,...,...,...,...,...,...
107843,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Botswana,BWA,Unit (0.0),57.1
107844,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Bosnia and Herzegovina,BIH,Unit (0.0),NaN
107845,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Bolivia,BOL,Unit (0.0),30.6
107846,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Bhutan,BTN,Unit (0.0),NaN
107847,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Bermuda,BMU,Unit (0.0),NaN
107848,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Benin,BEN,Unit (0.0),61.7
107849,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Belize,BLZ,Unit (0.0),46.5
107850,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Belgium,BEL,Unit (0.0),NaN
107851,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Belarus,BLR,Unit (0.0),40.7
107852,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Barbados,BRB,Unit (0.0),31.0
107853,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Bangladesh,BGD,Unit (0.0),33.8
107854,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Bahrain,BHR,Unit (0.0),35.4
107855,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Azerbaijan,AZE,Unit (0.0),32.5
107856,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Austria,AUT,Unit (0.0),22.3
107857,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Australia,AUS,Unit (0.0),10.3
107858,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Aruba,ABW,Unit (0.0),NaN
107859,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Armenia,ARM,Unit (0.0),30.9
107860,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Argentina,ARG,Unit (0.0),32.0
107861,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Angola,AGO,Unit (0.0),67.3
107862,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Algeria,DZA,Unit (0.0),44.8
107863,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Albania,ALB,Unit (0.0),30.3
107864,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Afghanistan,AFG,Unit (0.0),NaN
107865,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,"Gambia, The",GMB,Unit (0.0),58.1
107866,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,Lesotho,LSO,Unit (0.0),60.5
107867,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,South Sudan,SSD,Unit (0.0),58.6
107868,NaN,NaN,NaN,NaN,NaN,NaN
107869,NaN,NaN,NaN,NaN,NaN,NaN
107870,NaN,NaN,NaN,NaN,NaN,NaN
107871,Data from database: Gender Statistics,NaN,NaN,NaN,NaN,NaN
107872,Last Updated: 10/22/2018,NaN,NaN,NaN,NaN,NaN

In [2]:
import pandas as pd
pd.read_csv('http://databank.worldbank.org/data/embed/mean-pop-by-countries/id/ae137e04').jsonify()

ParserError: Error tokenizing data. C error: Expected 1 fields in line 14, saw 2